/* Estilização Genres */
.genre {
    padding: 16px 0px 16px 0px;
    gap: 14px;
    margin-top: 140px;
}

.genres-title {
    padding: 16px 0px 16px 0px;
    font-weight: 600;
    color: var(--color-gray-2);
    font-size: 24px;
}

.genres {
    display: flex;
    padding: 16px 0px 16px 0px;
    gap: 25px;
}

.btn-genres {
    border-radius: 4px;
    padding: 10.2px 11.2px 10.2px 11.2px;
    gap: 10px;
    background-color: var(--color-gray-6);
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-gray-3);
    cursor: pointer;
}

.btn-genres:focus {
    background: var(--color-gray-2);
    color: var(--color-gray-7);
}

.btn-genres:hover {
    border: 1px solid var(--color-gray-2);
}
